// Custom styles.
body{
background-image:url(/images/background_night.jpg);
//background-image:url(/images/background_sunset.jpg);
background-repeat: no-repeat;
background-attachment:fixed;
background-position:50% 60%; 
}